body {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 100px;
    margin: 0px;
    font-size: 20px;
    list-style: none;
    /* background: #ff0000; */
}

nav a {
    display: block;
    text-decoration: none;
    outline: none;
    color: black;
    padding: 10px;
    transition: .5s linear;
    /* border: 1px solid; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover {background: yellow;}



nav .submenu {
    display: none;
    background: #fff;
    position: absolute;
    font-weight: bold;
    padding: 0;
    margin: 0;
    
}

nav .topmenu li:hover .submenuBlock {
    display: block;
    /* width: 300px;
    height: 300px; */
}

nav .topmenu li:hover .submenu {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

nav ul a {
    color: #000000;
}

nav .topmenu li:hover .submenu .subsubmenu {
    display:block;
}

nav .topmenu .submenu .subsubmenu {
    position: absolute;
    font-size: 15px;
    font-weight: normal;
    font-style: oblique;
    background: #fff;
    padding: 0;
    
}

p {color: #000000;}

#main {
    padding-top: 5px;
}