body {margin: 0;}

.topmenu {
    list-style: none;
    background-color: #fff;
    margin:0;
    padding-left:150px;
    padding-right:150px;
    /* border: 1px solid; */
}

.topmenu li {display: inline-block}

.topmenu li:after {
    content: "|";
    color: #000;
    vertical-align: center;
    font-size: 20px;
}

.topmenu li:last-child:after {content: none}

.topmenu a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    position: relative;
    color: #000;
    transition: .5s;
    padding: 10px;
}

.topmenu a:hover{color: #feb386;}

.topmenu a:before,
.topmenu a:after {
  content: "";
  position: absolute;
  height: 1px;
  top: auto;
  right: 50%;
  bottom: 5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.topmenu a:hover:before {left: 0;}
.topmenu a:hover:after {right: 0;}   

.submenu {
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    position: absolute;
    height: 250px;
    width: 1100px;
    background: #fff;
    border-top: 1px solid silver;
    padding: 10px;
    margin-left: -150px;
}

.topmenu li:hover .submenu {
    visibility: visible; opacity: 1; transition: .5s;
}

.submenu li {display: inline-block;}

.submenu li:after {padding-right: 50px; content: "";}

.submenu a {
    font-size: 15px;
    font-weight: bold;
}











.subsubmenu {
    position: absolute;
    background: #fff;
}

.subsubmenu li {
    display: block;
    margin-left: -35px;
    padding: 3px;
}

.subsubmenu a {
    font-weight: normal;
    font-size: 13px;
}
p {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
}




.submenuTwo {
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    position: absolute;
    height: 40px;
    width: 1100px;
    background: #fff;
    border-top: 1px solid silver;
    padding: 10px;
    margin-left: -400px;
}

.topmenu li:hover .submenuTwo {
    visibility: visible; opacity: 1; transition: .5s;
}

.submenuTwo a {
    font-size: 15px;
    font-weight: bold;
}

.submenuTwo li:after {padding-right: 50px; content: "";}

.burgerMenu {
    display: none;
}

.burgerMenu a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    position: relative;
    color: #000;
    transition: .5s;
    padding: 10px;
}










    
    
    
    /* Бургер меню */
    @media screen and (max-width:1024px) {

        .topmenu {display: none;}
        .menuToogle {cursor: pointer;}
        .menuToogle i {font-size: 30pt;}


        .burgerMenu {
            display: block;
            cursor: pointer;
            /* border: 1px solid; */
            
        }

        .burgerMenu a {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            letter-spacing: 2px;
            position: relative;
            padding: 0px;
            margin: 0;
            text-align: justify;
            /* border: 1px solid; */
        }

    

        #menuCheck {
            display: none;
        }
        .burgerMenu ul {
            list-style: none;
        }
        .menu {display: none;}
        #menuCheck:checked + .menu {
            display: block;
        }
        /* li {border: 1px solid;} */
        p {
            padding: 10px;
        }

        .menu span i {
            display: inline-block;
            vertical-align: middle;
            font-size: 14pt;
            padding-right:0px;
            margin-left: -9px;
            cursor: pointer;
            /* border: 1px solid; */
        }

        #SubsubmenuCheck {
            display: none;
        } 

        .burgerSubmenu {
            display: none;
        }

        .burgerSubmenu a {font-size: 12px;}

        #SubmenuCheck:checked + .burgerSubmenu {
            display: block; margin: 0; padding: 0;
        }

        #SubmenuCheck {
            display: none;
        } 

        .burgerSubsubmenu {
            display: none;
        }

        .burgerSubsubmenu a {font-size: 10px;}

        #SubsubmenuCheck:checked + .burgerSubsubmenu {
            display: block; margin: 0; padding: 0; letter-spacing: 1px;
        }
        .menu .burgerSubmenu span i {font-size: 14pt;}

        .burgerSubsubmenuTwo {
            display: none;
        }

        .burgerSubsubmenuTwo a {font-size: 10px;}

        #SubsubmenuCheckTwo:checked + .burgerSubsubmenuTwo {
            display: block; margin: 0; padding: 0; letter-spacing: 1px;
        }

        #SubsubmenuCheckTwo {display:none;}

        
}